{% extends "layout_main.html" %}

{% block content %}

<div class="row">
<div class="col-lg-3">
  <div class="card">
    <div class="stat-widget-two">
      <div class="stat-content">
        <div class="stat-text">Task Completed</div>
        <div class="stat-digit">
          <i class="fa fa-usd"></i>650</div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-danger w-65" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="card">
      <div class="stat-widget-two">
        <div class="stat-content">
          <div class="stat-text">Task Completed</div>
          <div class="stat-digit">
            <i class="fa fa-usd"></i>650</div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-danger w-65" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>



</div>

{% endblock %}
