{% extends "layout_main.html" %}

{% block content %}



 <div class="col-12 col-lg-8">
     <div class="row">
         <!-- Single Blog Area -->
         <div class="col-12 col-md-6">
             <div class="single-blog-area bg-gray mb-50">
                 <!-- Post Thumbnail -->
                 <div class="blog-post-thumbnail">
                     <img src="img/blog-img/1.jpg" alt="">
                     <!-- Post Date -->
                     <div class="post-date">
                         <a href="#">Jan 23, 2018</a>
                     </div>
                 </div>
                 <!-- Post Content -->
                 <div class="post-content">
                     <div class="post-author">
                         <a href="#"><img src="img/blog-img/p1.jpg" alt=""></a>
                     </div>
                     <a href="#" class="headline">New drog release soon</a>
                     <p>Dolor sit amet, consecte tuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                     <a href="#" class="comments">3 Comments</a>
                 </div>
             </div>
         </div>
         <!-- Single Blog Area -->
         <div class="col-12 col-md-6">
             <div class="single-blog-area bg-gray mb-50">
                 <!-- Post Thumbnail -->
                 <div class="blog-post-thumbnail">
                     <img src="/static/img/blog-img/2.jpg" alt="">
                     <!-- Post Date -->
                     <div class="post-date">
                         <a href="#">Jan 23, 2018</a>
                     </div>
                 </div>
                 <!-- Post Content -->
                 <div class="post-content">
                     <div class="post-author">
                         <a href="#"><img src="/static/img/blog-img/p2.jpg" alt=""></a>
                     </div>
                     <a href="#" class="headline">Free dental care</a>
                     <p>Dolor sit amet, consecte tuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                     <a href="#" class="comments">3 Comments</a>
                 </div>
             </div>
         </div>
         <!-- Single Blog Area -->
         <div class="col-12 col-md-6">
             <div class="single-blog-area bg-gray mb-50">
                 <!-- Post Thumbnail -->
                 <div class="blog-post-thumbnail">
                     <img src="/static/img/blog-img/3.jpg" alt="">
                     <!-- Post Date -->
                     <div class="post-date">
                         <a href="#">Jan 23, 2018</a>
                     </div>
                 </div>
                 <!-- Post Content -->
                 <div class="post-content">
                     <div class="post-author">
                         <a href="#"><img src="img/blog-img/p3.jpg" alt=""></a>
                     </div>
                     <a href="#" class="headline">Good news for the pacients</a>
                     <p>Dolor sit amet, consecte tuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                     <a href="#" class="comments">3 Comments</a>
                 </div>
             </div>
         </div>
         <!-- Single Blog Area -->
         <div class="col-12 col-md-6">
             <div class="single-blog-area bg-gray mb-50">
                 <!-- Post Thumbnail -->
                 <div class="blog-post-thumbnail">
                     <img src="img/blog-img/1.jpg" alt="">
                     <!-- Post Date -->
                     <div class="post-date">
                         <a href="#">Jan 23, 2018</a>
                     </div>
                 </div>
                 <!-- Post Content -->
                 <div class="post-content">
                     <div class="post-author">
                         <a href="#"><img src="img/blog-img/p1.jpg" alt=""></a>
                     </div>
                     <a href="#" class="headline">New drog release soon</a>
                     <p>Dolor sit amet, consecte tuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                     <a href="#" class="comments">3 Comments</a>
                 </div>
             </div>
         </div>
         <!-- Single Blog Area -->
         <div class="col-12 col-md-6">
             <div class="single-blog-area bg-gray mb-50">
                 <!-- Post Thumbnail -->
                 <div class="blog-post-thumbnail">
                     <img src="img/blog-img/2.jpg" alt="">
                     <!-- Post Date -->
                     <div class="post-date">
                         <a href="#">Jan 23, 2018</a>
                     </div>
                 </div>
                 <!-- Post Content -->
                 <div class="post-content">
                     <div class="post-author">
                         <a href="#"><img src="img/blog-img/p2.jpg" alt=""></a>
                     </div>
                     <a href="#" class="headline">Free dental care</a>
                     <p>Dolor sit amet, consecte tuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                     <a href="#" class="comments">3 Comments</a>
                 </div>
             </div>
         </div>
         <!-- Single Blog Area -->
         <div class="col-12 col-md-6">
             <div class="single-blog-area bg-gray mb-50">
                 <!-- Post Thumbnail -->
                 <div class="blog-post-thumbnail">
                     <img src="img/blog-img/3.jpg" alt="">
                     <!-- Post Date -->
                     <div class="post-date">
                         <a href="#">Jan 23, 2018</a>
                     </div>
                 </div>
                 <!-- Post Content -->
                 <div class="post-content">
                     <div class="post-author">
                         <a href="#"><img src="img/blog-img/p3.jpg" alt=""></a>
                     </div>
                     <a href="#" class="headline">Good news for the pacients</a>
                     <p>Dolor sit amet, consecte tuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                     <a href="#" class="comments">3 Comments</a>
                 </div>
             </div>
         </div>
     </div>
 </div>

 <div class="col-12 col-lg-4">
     <div class="medilife-blog-sidebar-area">

         <!-- Search Widget -->
         <div class="search-widget-area mb-50">
             <form action="#" method="get">
                 <input type="search" placeholder="Type Any Keywords">
                 <input type="submit" value="Search">
             </form>
         </div>

         <!-- Catagories Widget -->
         <div class="medilife-catagories-card mb-50">
             <h5>Categories</h5>
             <ul class="catagories-menu">
                 <li><a href="#">Software Livre</a></li>
                 <li><a href="#">Soberania</a></li>

             </ul>
         </div>

         <!-- Latest News -->
         <div class="latest-news-widget-area mb-50">
             <h5>Latest News</h5>
             <div class="widget-blog-post">
                 <!-- Single Blog Post -->
                 <div class="widget-single-blog-post d-flex align-items-center">
                     <div class="widget-post-thumbnail pr-3">
                         <img src="img/blog-img/ln1.jpg" alt="">
                     </div>
                     <div class="widget-post-content">
                         <a href="#">A big discovery for medicine</a>
                         <p>Dec 02, 2017</p>
                     </div>
                 </div>
                 <!-- Single Blog Post -->
                 <div class="widget-single-blog-post d-flex align-items-center">
                     <div class="widget-post-thumbnail pr-3">
                         <img src="img/blog-img/ln2.jpg" alt="">
                     </div>
                     <div class="widget-post-content">
                         <a href="#">Dentistry for everybody</a>
                         <p>Dec 02, 2017</p>
                     </div>
                 </div>
                 <!-- Single Blog Post -->
                 <div class="widget-single-blog-post d-flex align-items-center">
                     <div class="widget-post-thumbnail pr-3">
                         <img src="img/blog-img/ln3.jpg" alt="">
                     </div>
                     <div class="widget-post-content">
                         <a href="#">When it’s time to take pills</a>
                         <p>Dec 02, 2017</p>
                     </div>
                 </div>
             </div>
         </div>

     </div>
 </div>





{% endblock %}
