<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <ul>
                <div class="logo"><a href="index.html">
                  <img src="/static/cotv-mini.png" alt=""/>
                </a></div>


                    <ul>
                        <li><a href="/2022">2022</a></li>
                        <li><a href="/2021">2021</a></li>
                        <li><a href="/2020">2020</a></li>
                        <li><a href="/2019">2019</a></li>
                        <li><a href="/2018">2018</a></li>
                        <li><a href="/2017">2017</a></li>
                        <li><a href="/2016">2016</a></li>
                        <li><a href="/2015">2015</a></li>
                        <li><a href="/2014">2014</a></li>
                        <li><a href="/2013">2013</a></li>
                        <li><a href="/2012">2012</a></li>
                        <li><a href="/2011">2011</a></li>
                        <li><a href="/2010">2010</a></li>
                        <li><a href="/2009">2009</a></li>
                        <li><a href="/2008">2008</a></li>
                    </ul>

            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->
