@import 'theme_color';
@import 'variables';
@import 'mixin';
@import 'responsive';

/* ----------------------------------------------------------
:: Template Name: Medilife - Medical & Health Template
:: Author: Colorlib
:: Author URL: https://colorlib.com
:: Version: 1.0.0
:: Created: 04 March 2018
:: Last Updated: 04 March 2018
---------------------------------------------------------- */

/* [ -- Master Stylesheet -- ] */

/* ------------- Index of Stylesheet -------------
:: 1.0 Import Fonts
:: 2.0 Import All CSS
:: 3.0 Base CSS
:: 4.0 Header Area CSS
:: 5.0 Welcome Area CSS
:: 6.0 Book An Appoinment Area
:: 7.0 About Us Area CSS
:: 8.0 Service Area CSS
:: 9.0 Gallery Area CSS
:: 10.0 Features Area CSS
:: 11.0 Emergency Area CSS
:: 12.0 Footer Area CSS
:: 13.0 Breadcumb Area CSS
:: 14.0 Video Area CSS
:: 15.0 Tabs Area CSS
:: 16.0 Services Area CSS
:: 17.0 Single Benefits Area CSS
:: 18.0 CTA Area CSS
:: 19.0 Blog Area CSS
:: 20.0 Contact Area CSS
:: 21.0 Shortcode Area CSS
------------------------------------------------ */

/* :: 1.0 Import Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

/* :: 2.0 Import All CSS */

@import 'css/bootstrap.min.css';
@import 'css/animate.css';
@import 'css/owl.carousel.css';
@import 'css/magnific-popup.css';
@import 'css/font-awesome.min.css';
@import 'css/themify-icons.css';
@import 'css/medilife-icons.css';
@import 'css/nice-select.css';

/* :: 3.0 Base CSS */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
    font-weight: 700;
}

p {
    color: $text-color;
    font-size: 15px;
    line-height: 2;
    font-weight: 400;
}

a {
    @include trans-duration(500ms);
    text-decoration: none;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    &:hover,
    &:focus {
        @include trans-duration(500ms);
        text-decoration: none;
        outline: none;
        font-size: 14px;
        font-weight: 700;
    }
}

#preloader {
    overflow: hidden;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
    background-color: $primary-color;
}

.medilife-load {
    @include animation(2000ms linear 0s normal none infinite running medilife-load);
    background: transparent;
    border-color: $color-white;
    border-top-color: $primary-color;
    border-left-color: $primary-color;
    border-right-color: $primary-color;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    height: 50px;
    left: calc(50% - 25px);
    position: relative;
    top: calc(50% - 25px);
    width: 50px;
    z-index: 9;
}

@-webkit-keyframes medilife-load {
    0% {
        @include transform(rotate(0deg));
    }
    100% {
        @include transform(rotate(360deg));
    }
}

@keyframes medilife-load {
    0% {
        @include transform(rotate(0deg));
    }
    100% {
        @include transform(rotate(360deg));
    }
}

ul,
ol {
    margin: 0;
    li {
        list-style: none;
    }
}

img {
    height: auto;
    max-width: 100%;
}

.medica-table {
    display: table;
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

.medica-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.mt-15 {
    margin-top: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-30 {
    margin-left: 30px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-30 {
    margin-right: 30px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-100 {
    margin-bottom: 100px;
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-transparent {
    background-color: transparent;
}

.bg-transparent-dark {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.bg-transparent-light {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.font-bold {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.height-500 {
    height: 500px !important;
}

.height-600 {
    height: 600px !important;
}

.height-700 {
    height: 700px !important;
}

.height-800 {
    height: 800px !important;
}

#scrollUp {
    background-color: $primary-color;
    border-radius: 50%;
    bottom: 60px;
    right: 60px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: $color-white;
    font-size: 30px;
    height: 70px;
    text-align: center;
    width: 70px;
    line-height: 66px;
    @include trans-duration(500ms);
    &:hover {
        background-color: $bg-default;
    }
    @media #{$breakpoint-md} {
        bottom: 30px;
        right: 30px;
        height: 50px;
        width: 50px;
        line-height: 46px;
    }
    @media #{$breakpoint-xs} {
        bottom: 30px;
        right: 30px;
        height: 50px;
        width: 50px;
        line-height: 46px;
    }
}

.section-padding-100 {
    padding: 100px 0;
}

.section-padding-50 {
    padding: 50px 0;
}

.section-padding-50-0 {
    padding: 50px 0 0 0;
}

.section-padding-100-70 {
    padding: 100px 0 70px;
}

.section-padding-100-50 {
    padding: 100px 0 50px;
}

.section-padding-100-0 {
    padding: 100px 0 0;
}

.section-padding-0-100 {
    padding: 0 0 100px;
}

.section-padding-100-20 {
    padding: 100px 0 20px 0;
}

.section-heading {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    z-index: 1;
    h2 {
        font-size: 44px;
        margin-bottom: 0;
    }
}

.btn {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    &:hover,
    &:focus {
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    }
}

.medilife-btn {
    display: inline-block;
    color: $color-white;
    background-color: $primary-color;
    height: 45px;
    padding: 0 55px 0 30px;
    line-height: 42px;
    font-size: 14px;
    min-width: 140px;
    border-radius: 0;
    font-weight: 700;
    position: relative;
    z-index: 1;
    @include trans-duration(500ms);
    span {
        width: 40px;
        height: 45px;
        background-color: $bg-default;
        display: inline-block;
        position: absolute;
        top: -1px;
        right: -1px;
        font-size: 24px;
        color: $color-white;
        font-weight: 500;
        @include trans-duration(500ms);
    }
    &:hover,
    &:focus {
        background-color: $bg-default;
        color: $color-white;
    }
    &:hover span,
    &:focus span {
        color: $color-white;
        background-color: $primary-color;
    }
    &.btn-2 {
        background-color: $bg-default;
        color: $color-white;
        span {
            color: $color-white;
            background-color: $primary-color;
        }
        &:hover,
        &:focus {
            background-color: $primary-color;
            color: $color-white;
        }
        &:hover span,
        &:focus span {
            color: $color-white;
            background-color: $bg-default;
        }
    }
    &.btn-3 {
        background-color: $color-white;
        color: $heading-color;
        border: 2px solid;
        border-color: $primary-color;
        span {
            top: -2px;
            right: -2px;
        }
    }
    &.btn-4 {
        background-color: $color-white;
        color: $heading-color;
        border: 2px solid;
        border-color: $primary-color;
        span {
            background-color: $primary-color;
            top: -2px;
            right: -2px;
        }
    }
}

.medilife-appoint-btn {
    display: inline-block;
    color: $color-white;
    background-color: $bg-red;
    height: 50px;
    padding: 0 15px;
    line-height: 50px;
    font-size: 14px;
    min-width: 140px;
    border-radius: 0;
    font-weight: 500;
    @include trans-duration(500ms);
    text-transform: uppercase;
    box-shadow: none;
    span {
        font-weight: 700;
    }
    &:hover,
    &:focus {
        color: $primary-color;
        background-color: $color-white;
        box-shadow: none;
        font-weight: 500;
    }
    &:hover span,
    &:focus span {
        font-weight: 700;
    }
    @media #{$breakpoint-md} {
        margin-top: 30px;
    }
    @media #{$breakpoint-xs} {
        margin-top: 10px;
    }
}

.bg-overlay {
    position: relative;
    z-index: 1;
    &::after {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary-color;
        opacity: 0.85;
        content: '';
    }
}

.bg-overlay-black {
    position: relative;
    z-index: 1;
    &::after {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.85;
        content: '';
    }
}

.bg-overlay-white {
    position: relative;
    z-index: 1;
    &::after {
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(230, 241, 255, 0.5);
        content: '';
    }
}

.bg-gray {
    background-color: $bg-gray;
}

.row-reverse {
    @include flex-direction(row-reverse);
}

.nicescroll-rails {
    z-index: 999999 !important;
}

/* :: 4.0 Header Area CSS */

.header-area {
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: auto;
    @include trans-duration(500ms);
}

.top-header-area {
    position: relative;
    z-index: 1;
    height: 45px;
    background-color: $bg-default;
    p {
        margin-bottom: 0;
        color: #b5b5b5;
        span {
            color: $primary-color;
        }
        @media #{$breakpoint-md} {
            font-size: 13px;
        }
        @media #{$breakpoint-xs} {
            font-size: 12px;
        }
    }
    @media #{$breakpoint-xs} {
        height: auto;
        padding: 15px 0;
    }
}

.main-header-area {
    width: 100%;
    height: 110px;
    position: relative;
    z-index: 1;
    background-color: $bg-default;
    @include trans-duration(500ms);
    @media #{$breakpoint-md} {
        height: 80px;
    }
    @media #{$breakpoint-xs} {
        height: 70px;
    }
}

.is-sticky .main-header-area {
    width: 100%;
    z-index: 10000 !important;
    height: 80px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: $bg-default;
    @media #{$breakpoint-xs} {
        height: 70px;
    }
}

.header-area .main-menu .nav-link {
    font-size: 14px;
    text-transform: capitalize;
    padding: 10px 20px;
    color: $color-white;
    font-weight: 500;
    margin: 0 1px;
    &:hover {
        background-color: $primary-color;
    }
    &:focus {
        background-color: $primary-color;
    }
    @media #{$breakpoint-lg} {
        padding: 10px;
    }
    @media #{$breakpoint-md} {
        padding: 10px 30px;
        margin: 1px 0;
    }
    @media #{$breakpoint-xs} {
        padding: 10px 30px;
        margin: 1px 0;
    }
}

.header-area .main-menu .nav-item.active .nav-link {
    background-color: $primary-color;
}

.dropdown-menu.show {
    border: none;
    padding: 15px 0;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
    margin-top: 15px;
}

.dropdown-item {
    font-size: 13px;
    font-weight: 500;
    color: #5f5f5f;
    text-transform: uppercase;
    &:hover {
        color: $primary-color;
        font-size: 13px;
        font-weight: 500;
        background-color: $bg-gray;
    }
    &:focus {
        color: $primary-color;
        font-size: 13px;
        font-weight: 500;
        background-color: $bg-gray;
    }
}

.navbar {
    padding: 0;
}

.navbar-toggler {
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    @media #{$breakpoint-md} {
        margin: 20px 0;
    }
    @media #{$breakpoint-xs} {
        margin: 15px 0;
    }
}

#medilifeMenu {
    @media #{$breakpoint-md} {
        width: 100%;
        background-color: $bg-default;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
        padding: 30px 15px;
        border-radius: 0 0 6px 6px;
        margin-top: -2px;
        border-radius: 0;
    }
    @media #{$breakpoint-xs} {
        width: 100%;
        background-color: $bg-default;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
        padding: 20px 10px;
        border-radius: 0 0 6px 6px;
        margin-top: -2px;
        border-radius: 0;
    }
}

/* :: 5.0 Welcome Area CSS */

.single-hero-slide {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 900px;
    @media #{$breakpoint-md} {
        height: 700px;
    }
    @media #{$breakpoint-xs} {
        height: 700px;
    }
}

.hero-slides-content {
    h2 {
        color: $heading-color;
        font-size: 60px;
        margin-bottom: 20px;
        @media #{$breakpoint-md} {
            font-size: 40px;
        }
        @media #{$breakpoint-xs} {
            font-size: 24px;
        }
    }
    h5 {
        color: $heading-color;
        font-size: 22px;
        font-weight: 600;
    }
}

.hero-area {
    .owl-prev,
    .owl-next {
        width: 70px;
        height: 70px;
        position: absolute;
        top: 50%;
        line-height: 70px;
        text-align: center;
        color: $color-white;
        left: 70px;
        margin-top: -35px;
        opacity: 0;
        @include trans-duration(500ms);
        background-color: $bg-default;
        font-size: 14px;
        &:hover {
            background-color: $primary-color;
        }
        @media #{$breakpoint-md} {
            left: 30px;
            width: 50px;
            height: 50px;
            margin-top: -25px;
            line-height: 50px;
        }
        @media #{$breakpoint-xs} {
            left: 15px;
            width: 40px;
            height: 40px;
            margin-top: -20px;
            line-height: 40px;
        }
    }
    .owl-next {
        left: auto;
        right: 70px;
        @media #{$breakpoint-md} {
            right: 30px;
        }
        @media #{$breakpoint-xs} {
            right: 15px;
        }
    }
    &:hover .owl-prev,
    &:hover .owl-next {
        opacity: 1;
    }
    .owl-dots {
        width: 1110px;
        position: absolute;
        bottom: 110px;
        left: 50%;
        @include transform (translateX(-50%));
        @media #{$breakpoint-lg} {
            width: 920px;
        }
        @media #{$breakpoint-md} {
            width: 680px;
        }
        @media #{$breakpoint-xs} {
            width: 85%;
        }
    }
    .owl-dot {
        display: inline-block;
        width: 36px;
        height: 4px;
        background-color: #cacaca;
        margin-right: 8px;
        &.active {
            background-color: $primary-color;
        }
    }
}

/* :: 6.0 Book An Appoinment Area */

.align-items-stretch {
    @include align-items(stretch);
}

.form-control {
    background-color: transparent;
    width: 100%;
    height: 38px;
    border-radius: 0;
    font-size: 14px;
    font-style: italic;
    color: $color-white;
    margin-bottom: 30px;
    font-weight: 500;
    padding: 0 15px;
    border: 2px solid #536174;
    &:hover,
    &:focus {
        background-color: transparent;
        box-shadow: none;
    }
}

textarea {
    width: 100%;
    height: 100px !important;
    padding: 20px;
}

.nice-select {
    line-height: 34px;
    .list {
        left: 0 !important;
        right: 0 !important;
        border-radius: 0;
    }
}

.medilife-book-an-appoinment-area {
    position: relative;
    z-index: 1;
    margin-top: -65px;
    .appointment-form-content {
        background-color: $bg-default;
    }
    .medilife-appointment-form {
        background-color: $bg-default;
        padding: 60px 50px;
        select {
            border: 2px solid #536174;
            background-color: transparent;
        }
        @media #{$breakpoint-md} {
            padding: 40px 30px;
        }
        @media #{$breakpoint-xs} {
            padding: 30px;
        }
        button[type=submit] {
            @media #{$breakpoint-xs} {
                margin-top: 15px;
            }
        }
    }
    .medilife-contact-info {
        padding: 30px;
        background-color: $primary-color;
        @media #{$breakpoint-md} {
            @include display-flex;
            @include justify-content-between;
            padding-bottom: 0;
        }
    }
}

.single-contact-info {
    img {
        margin-bottom: 15px;
    }
    p {
        color: $color-white;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0;
    }
}

/* :: 7.0 About Us Area CSS */

.medica-about-content {
    @media #{$breakpoint-md} {
        margin-bottom: 100px;
    }
    @media #{$breakpoint-xs} {
        margin-bottom: 100px;
    }
    h2 {
        font-size: 44px;
        margin-bottom: 30px;
        @media #{$breakpoint-xs} {
            font-size: 30px;
        }
    }
}

/* :: 8.0 Service Area CSS */

.medica-services-area {
    position: relative;
    z-index: 1;
}

.single-service-area {
    margin-bottom: 80px;
    @include trans-duration(500ms);
    .service-icon {
        width: 64px;
        height: 64px;
        @include flex (0 0 64px);
        margin-right: 30px;
        text-align: center;
        line-height: 64px;
        font-size: 30px;
        background-color: #cacaca;
        border-radius: 50%;
        color: $color-white;
        @include trans-duration(500ms);
    }
    .service-content {
        margin-top: 15px;
        h5 {
            font-size: 22px;
            margin-bottom: 15px;
            @include trans-duration(500ms);
        }
        p {
            margin-bottom: 0;
        }
    }
    &:hover .service-icon {
        background-color: $primary-color;
    }
    &:hover .service-content h5 {
        color: $primary-color;
    }
}


/* :: 9.0 Gallery Area CSS */

.single-gallery-item {
    position: relative;
    z-index: 1;
    @include trans-duration(500ms);
    &::after {
        background-color: rgba(0, 108, 255, 0.75);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        content: '';
        opacity: 0;
        @include trans-duration(500ms);
    }
    &:hover::after {
        opacity: 1;
    }
    .view-more-btn {
        position: absolute;
        bottom: 40px;
        left: 40px;
        z-index: 9;
        @include trans-duration(500ms);
        a {
            background-color: transparent;
            font-size: 16px;
            color: $color-white;
            display: block;
            box-shadow: none;
            font-weight: 700;
            opacity: 0;
        }
    }
    &:hover .view-more-btn a {
        opacity: 1;
    }
}

/* :: 10.0 Features Area CSS */

.features-content {
    @media #{$breakpoint-md} {
        margin-bottom: 100px;
    }
    @media #{$breakpoint-xs} {
        margin-bottom: 100px;
    }
    h2 {
        font-size: 48px;
        margin-bottom: 30px;
        @media #{$breakpoint-xs} {
            font-size: 30px;
        }
    }
}

/* :: 11.0 Emergency Area CSS */

.medilife-emergency-area {
    background-color: $primary-color;
    .emergency-content {
        i {
            font-size: 130px;
            color: $color-white;
            display: block;
            margin-bottom: 50px;
        }
        h2 {
            font-size: 44px;
            margin-bottom: 20px;
            @media #{$breakpoint-md} {
                font-size: 30px;
            }
            @media #{$breakpoint-xs} {
                font-size: 24px;
            }
        }
        h3 {
            font-size: 60px;
            color: $color-white;
            margin-bottom: 0;
            @media #{$breakpoint-lg} {
                font-size: 40px;
            }
            @media #{$breakpoint-md} {
                font-size: 30px;
            }
            @media #{$breakpoint-xs} {
                font-size: 24px;
            }
        }
        @media #{$breakpoint-md} {
            margin-bottom: 100px;
        }
        @media #{$breakpoint-xs} {
            margin-bottom: 100px;
        }
    }
    .single-emergency-helpline {
        h5 {
            color: $color-white;
            margin-bottom: 20px;
        }
        p {
            color: $color-white;
            margin-bottom: 0;
        }
    }
}

/* :: 12.0 Footer Area CSS */

.footer-area {
    background-color: #020f20;
    padding-left: 45px;
    padding-right: 45px;
    @media #{$breakpoint-lg} {
        padding-left: 30px;
        padding-right: 30px;
    }
    @media #{$breakpoint-md} {
        padding-left: 15px;
        padding-right: 15px;
    }
    @media #{$breakpoint-xs} {
        padding-left: 0;
        padding-right: 0;
    }
}

.footer-widget-area {
    @media #{$breakpoint-lg} {
        margin-bottom: 50px;
    }
    @media #{$breakpoint-md} {
        margin-bottom: 50px;
    }
    @media #{$breakpoint-xs} {
        margin-bottom: 50px;
    }
    .footer-logo {
        margin-bottom: 50px;
    }
    p {
        color: $color-white;
        margin-bottom: 0;
    }
    .footer-social-info {
        margin-top: 40px;
        a {
            color: $color-white;
            margin-right: 15px;
            font-size: 18px;
            display: inline-block;
        }
    }
    .widget-title {
        h6 {
            font-size: 18px;
            color: $primary-color;
            margin-bottom: 50px;
            text-transform: capitalize;
        }
    }
    .widget-single-blog-post {
        margin-bottom: 15px;
        .widget-post-thumbnail {
            width: 70px;
            height: 70px;
            @include flex (0 0 70px);
            margin-right: 30px;
        }
        .widget-post-content {
            a {
                color: $color-white;
                font-size: 16px;
                font-weight: 700;
                display: block;
                margin-bottom: 2px;
            }
            p {
                font-size: 12px;
            }
        }
    }
    .footer-contact-form {
        background-color: $bg-default;
        padding: 30px 40px;
        @media #{$breakpoint-xs} {
            padding: 30px 20px;
        }
    }
    .footer-newsletter-area {
        form {
            position: relative;
            z-index: 1;
            margin-bottom: 30px;
        }
        input {
            width: 100%;
            height: 48px;
            background-color: $bg-default;
            font-size: 15px;
            padding: 0 15px;
        }
        button {
            position: absolute;
            top: 0;
            padding: 0 20px;
            height: 48px;
            right: 0;
            z-index: 9;
            cursor: pointer;
            background-color: $primary-color;
            color: $color-white;
            border: none;
        }
        p {
            font-size: 12px;
            color: $text-color;
            font-style: italic;
            margin-bottom: 0;
        }
    }
}

.copywrite-text {
    p {
        color: rgba(255, 255, 255, 0.35);
        margin-bottom: 0;
        a {
            color: rgba(255, 255, 255, 0.35);
        }
    }
}

/* :: 13.0 Breadcumb Area CSS */

.breadcumb-area {
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 1;
    padding-top: 150px;
    .breadcumb-title {
        font-size: 60px;
        margin-bottom: 0;
        @media #{$breakpoint-xs} {
            font-size: 30px;
        }
    }
    &::after {
        background-color: rgba(230, 241, 255, 0.75);
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
    }
}


/* :: 14.0 Video Area CSS */

.video-box {
    position: relative;
    z-index: 1;
    .play-btn {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%,
        -50%));
        z-index: 10;
        a {
            margin-bottom: 30px;
            display: block;
            @media #{$breakpoint-xs} {
                margin-bottom: 15px;
            }
        }
        h6 {
            font-size: 18px;
            margin-bottom: 0;
            color: $color-white;
            @media #{$breakpoint-xs} {
                font-size: 12px;
            }
        }
    }
}

.video-content {
    @media #{$breakpoint-md} {
        margin-top: 100px;
    }
    @media #{$breakpoint-xs} {
        margin-top: 100px;
    }
    h2 {
        font-size: 44px;
        color: $color-white;
        margin-bottom: 50px;
        @media #{$breakpoint-lg} {
            font-size: 24px;
        }
        @media #{$breakpoint-xs} {
            font-size: 24px;
        }
    }
    p {
        color: $color-white;
        margin-bottom: 0;
    }
}

.single-pie-bar {
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
    canvas {
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 0;
    }
}


/* :: 15.0 Tabs Area CSS */

.medilife-tabs-content {
    .nav-tabs {
        @include justify-content-between;
        border-bottom: none;
    }
    .nav-link {
        padding: 15px 30px;
        background-color: #f0f0f0;
        display: block;
        border-radius: 0 !important;
        border: none;
        border-bottom: 20px solid $color-white;
        font-size: 18px;
        color: $heading-color;
        &:hover,
        &:focus {
            border-color: $color-white;
        }
        &.active {
            background-color: $primary-color;
            color: $color-white;
            border-color: $primary-color;
            @media #{$breakpoint-xs} {
                border-color: $color-white;
            }
        }
        @media #{$breakpoint-lg} {
            padding: 15px;
        }
        @media #{$breakpoint-md} {
            padding: 15px;
            font-size: 14px;
        }
        @media #{$breakpoint-xs} {
            padding: 10px;
            font-size: 12px;
        }
    }
    .medilife-tab-content {
        margin-top: 1px;
        border: 2px solid;
        border-color: $primary-color;
        padding: 70px;
        @media #{$breakpoint-md} {
            padding: 30px;
        }
        @media #{$breakpoint-xs} {
            padding: 15px;
        }
        .medilife-tab-text {
            @include flex (0 0 calc(55% - 50px));
            min-width: calc(55% - 50px);
            margin-right: 50px;
            @media #{$breakpoint-xs} {
                @include flex (0 0 100%);
                min-width: 100%;
                margin-right: 0;
            }
            h2 {
                font-size: 44px;
                margin-bottom: 30px;
                @media #{$breakpoint-md} {
                    font-size: 30px;
                }
                @media #{$breakpoint-xs} {
                    font-size: 30px;
                }
            }
        }
        .medilife-tab-img {
            @include flex (0 0 45%);
            min-width: 45%;
        }
    }
}

/* :: 16.0 Services Area CSS */

.singleServiceArea {
    position: relative;
    z-index: 1;
    width: 33.3333333%;
    display: inline-block;
    float: left;
    padding: 70px 40px 100px;
    &:first-child {
        background-color: $primary-color;
    }
    &:last-child {
        background-color: $bg-default;
    }
    @media #{$breakpoint-md} {
        padding: 50px 20px;
    }
    @media #{$breakpoint-xs} {
        padding: 50px 20px;
        width: 100%;
    }
    .singleServiceIcon {
        margin-right: 20px;
        i {
            color: $color-white;
            font-size: 80px;
            @media #{$breakpoint-lg} {
                font-size: 60px;
            }
            @media #{$breakpoint-md} {
                font-size: 30px;
            }
            @media #{$breakpoint-xs} {
                font-size: 30px;
            }
        }
    }
    .singleServiceText {
        padding-top: 30px;
        @media #{$breakpoint-md} {
            padding-top: 0;
        }
        @media #{$breakpoint-xs} {
            padding-top: 0;
        }
        h2 {
            color: $color-white;
            margin-bottom: 20px;
            font-size: 40px;
            @media #{$breakpoint-lg} {
                font-size: 30px;
            }
            @media #{$breakpoint-md} {
                font-size: 24px;
            }
            @media #{$breakpoint-xs} {
                font-size: 24px;
            }
        }
        p {
            color: $color-white;
        }
    }
}


/* :: 17.0 Single Benefits Area CSS */

.single-benefits-area {
    position: relative;
    z-index: 1;
    .single-benefits-title {
        margin-bottom: 20px;
        i {
            font-size: 50px;
            color: $primary-color;
        }
        h5 {
            font-size: 22px;
            margin: 0 15px;
        }
    }
}


/* :: 18.0 CTA Area CSS */

.medilife-cta-area {
    position: relative;
    z-index: 1;
    background-color: $primary-color;
    padding: 30px 0;
    .cta-content {
        @include display-flex;
        @include align-items(center);
        @include justify-content-center;
        i {
            color: $color-white;
            font-size: 50px;
            margin-right: 30px;
            display: inline-block;
        }
        h2 {
            margin-bottom: 0;
            font-size: 36px;
            margin-right: 30px;
            color: $heading-color;
            @media #{$breakpoint-md} {
                font-size: 20px;
            }
            @media #{$breakpoint-xs} {
                font-size: 20px;
                margin: 15px 0;
            }
        }
        h3 {
            color: $color-white;
            margin-bottom: 0;
            font-size: 44px;
            @media #{$breakpoint-md} {
                font-size: 30px;
            }
            @media #{$breakpoint-xs} {
                font-size: 30px;
            }
        }
        @media #{$breakpoint-xs} {
            display: block;
        }
    }
}

/* :: 19.0 Blog Area CSS */

.single-blog-area {
    position: relative;
    z-index: 1;
    .blog-post-thumbnail {
        position: relative;
        z-index: 1;
        .post-date {
            a {
                min-width: 110px;
                height: 35px;
                background-color: $primary-color;
                display: block;
                color: $color-white;
                line-height: 35px;
                text-align: center;
                position: absolute;
                font-size: 15px;
                font-weight: 400;
                top: 20px;
                left: 20px;
                z-index: 3;
            }
        }
    }
    .post-content {
        position: relative;
        z-index: 1;
        padding: 50px 20px;
        .post-author {
            width: 58px;
            height: 58px;
            position: absolute;
            z-index: 5;
            border-radius: 50%;
            top: -29px;
            left: 20px;
            a {
                border-radius: 50%;
                img {
                    border-radius: 50%;
                    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
                }
            }
        }
        .headline {
            font-size: 22px;
            margin-bottom: 15px;
            color: $heading-color;
            display: block;
        }
        .comments {
            font-size: 12px;
            color: $text-color;
            text-decoration: underline;
            font-weight: 300;
        }
    }
}

.search-widget-area {
    form {
        position: relative;
        z-index: 1;
    }
    input[type=search] {
        width: 100%;
        height: 50px;
        background-color: $bg-gray;
        border: none;
        font-size: 12px;
        font-style: italic;
        padding: 0 15px;
    }
    input[type=submit] {
        width: 80px;
        height: 50px;
        background-color: transparent;
        border: none;
        font-size: 14px;
        color: $primary-color;
        font-weight: 500;
        padding: 0 15px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
}

.medilife-catagories-card {
    h5 {
        margin-bottom: 30px;
    }
    ul {
        li {
            a {
                display: block;
                padding: 10px;
                color: $text-color;
                font-size: 14px;
                font-weight: 400;
                &:hover,
                &:focus {
                    color: $primary-color;
                }
            }
        }
    }
}

.latest-news-widget-area {
    h5 {
        margin-bottom: 30px;
    }
    .widget-single-blog-post {
        margin-bottom: 30px;
        .widget-post-thumbnail {
            @include flex (0 0 58px);
            min-width: 58px;
        }
        .widget-post-content {
            a {
                display: block;
                color: $text-color;
                margin-bottom: 5px;
                font-size: 14px;
                font-weight: 400;
            }
            &:hover a,
            &:focus a {
                color: $primary-color;
            }
            p {
                font-size: 12px;
                color: $primary-color;
                margin-bottom: 0;
                font-weight: 500;
            }
        }
    }
}

.medilife-emergency-card {
    padding: 50px 30px;
    i {
        font-size: 70px;
        display: block;
        margin-bottom: 50px;
        color: $color-white;
    }
    h2 {
        font-size: 28px;
        @media #{$breakpoint-lg} {
            font-size: 20px;
        }
        @media #{$breakpoint-xs} {
            font-size: 20px;
        }
    }
    h3 {
        font-size: 34px;
        color: $color-white;
        margin-bottom: 0;
        @media #{$breakpoint-lg} {
            font-size: 20px;
        }
        @media #{$breakpoint-xs} {
            font-size: 20px;
        }
    }
}

.pagination {
    .page-item {
        &:first-child .page-link {
            margin-left: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &:last-child .page-link {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &.active .page-link {
            color: $color-white;
            background-color: $primary-color;
        }
    }
    .page-link {
        padding: 0;
        margin-left: 3px;
        line-height: 43px;
        font-size: 16px;
        color: $heading-color;
        background-color: $bg-gray;
        border: none;
        width: 43px;
        height: 43px;
        text-align: center;
        &:focus,
        &:hover {
            color: $color-white;
            background-color: $primary-color;
        }
    }
}

.post-meta {
    margin-bottom: 30px;
    a {
        font-size: 14px;
        color: $text-color;
        font-weight: 400;
    }
}

.comments-area {
    h5 {
        margin-bottom: 50px;
    }
}

.single_comment_area {
    margin-bottom: 50px;
    .comment-wrapper {
        .comment-author {
            @include flex (0 0 60px);
            min-width: 60px;
            border-radius: 50%;
            margin-right: 30px;
            img {
                border-radius: 50%;
            }
            @media #{$breakpoint-xs} {
                margin-right: 10px;
            }
        }
        .comment-content {
            .comment-meta {
                a {
                    display: inline-block;
                    color: $heading-color;
                    font-size: 14px;
                    margin-bottom: 20px;
                    &:hover {
                        color: $primary-color;
                    }
                    @media #{$breakpoint-xs} {
                        font-size: 12px;
                    }
                }
            }
            p {
                font-size: 14px;
                margin-bottom: 0;
                @media #{$breakpoint-xs} {
                    font-size: 13px;
                }
            }
        }
    }
    .children {
        margin-top: 50px;
        padding-left: 90px;
        @media #{$breakpoint-xs} {
            padding-left: 30px;
        }
    }
}

.leave-comment-area,
.medilife-contact-area {
    .comment-form,
    .contact-form {
        h5 {
            margin-bottom: 50px;
        }
        .form-group {
            margin-bottom: 10px;
        }
        .form-control {
            width: 100%;
            height: 55px;
            background-color: $bg-gray;
            padding: 15px;
            border: none;
            font-size: 12px;
            font-style: italic;
            margin-bottom: 0!important;
        }
        textarea {
            &.form-control {
                height: 250px !important;
            }
        }
        button[type=submit] {
            margin-top: 40px;
        }
        @media #{$breakpoint-md} {
            margin-bottom: 100px;
        }
        @media #{$breakpoint-xs} {
            margin-bottom: 100px;
        }
    }
}

/* :: 20.0 Contact Area CSS */

.single-contact {
    margin-bottom: 20px;
    .contact-icon {
        i {
            color: $primary-color;
            font-size: 20px;
        }
    }
    .contact-meta {
        p {
            margin-bottom: 0;
        }
    }
}

.contact-social-area {
    margin-top: 30px;
    a {
        font-size: 16px;
        display: inline-block;
        margin-right: 15px;
        color: #b4b4b4;
        &:focus,
        &:hover {
            color: $primary-color;
        }
    }
}

.googleMap {
    width: 100%;
    height: 600px;
    border-bottom: 5px solid;
    border-color: $primary-color;
}

/* :: 21.0 Shortcode Area CSS */

.elements-title {
    h2 {
        text-transform: capitalize;
        font-size: 20px;
        margin-bottom: 50px;
    }
}

/* Accordians */

.single-accordion {
    &.panel {
        background-color: $color-white;
        border: 0 solid transparent;
        border-radius: 4px;
        box-shadow: 0 0 0 transparent;
        margin-bottom: 15px;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
    h6 {
        margin-bottom: 0;
        text-transform: uppercase;
        a {
            background-color: #1d1d1d;
            border-radius: 0;
            color: $color-white;
            display: block;
            margin: 0;
            padding: 20px 60px 20px 20px;
            position: relative;
            font-size: 14px;
            text-transform: capitalize;
            font-weight: 500;
            span {
                font-size: 10px;
                position: absolute;
                right: 20px;
                text-align: center;
                top: 24px;
                &.accor-open {
                    opacity: 0;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                    filter: alpha(opacity=0);
                }
            }
            &.collapsed {
                background-color: $primary-color;
                color: $color-white;
                span {
                    &.accor-close {
                        opacity: 0;
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                        filter: alpha(opacity=0);
                    }
                    &.accor-open {
                        opacity: 1;
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                        filter: alpha(opacity=100);
                    }
                }
            }
        }
    }
    .accordion-content {
        border-top: 0 solid transparent;
        box-shadow: none;
        p {
            padding: 20px 15px 5px;
            margin-bottom: 0;
        }
    }
}

/* Cool Facts CSS */

.single-cool-fact-area {
    text-align: center;
    i {
        font-size: 100px;
        color: $primary-color;
        margin-bottom: 30px;
        display: block;
    }
    h2 {
        font-size: 48px;
        margin-bottom: 20px;
    }
    h6 {
        font-size: 22px;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 0;
    }
}

.all-icons-area {
    position: relative;
    z-index: 1;
    .medilife-single-icon {
        padding: 30px;
        border: 1px solid $bg-gray;
        border-radius: 6px;
        text-align: center;
        margin-bottom: 30px;
        @include trans-duration(500ms);
        i {
            font-size: 50px;
            color: $primary-color;
            display: block;
            margin-bottom: 15px;
            @include trans-duration(500ms);
        }
        span {
            display: block;
            @include trans-duration(500ms);
        }
        &:hover, &:focus {
            background-color: $primary-color;
        }
        &:hover i, &:focus i {
            color: $color-white;
        }
        &:hover span, &:focus span {
            color: $color-white;
        }
    }
}
